<div class="form-part list">
    <div class="list-container">
        {{> contactsBtn}}
    </div>
    <form id="form-add">
        <input name="fullName">
        <input name="phoneNumber">
    </form>
</div>
<div class="form-part control">
    <button onclick="add()">Добавить</button>
    <button onclick="{{refuse}}">Отказаться</button>
</div>