html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}

.enabled:hover:not(:first-child) {
    cursor: pointer;
    background-color: #ccc;
}

input:invalid+span:after {
    position: absolute; content: '✖';
    padding-left: 5px;
    color: #8b0000;
}

input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
    color: #009000;
}

